:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.loading {
  text-align: center;
}

img {
  margin: 0 auto;
  width: 20rem;
  max-width: 60%;
  animation: blink 2s ease-in-out infinite;
}

@media (prefers-reduced-motion: reduce) {
  img {
    animation: none;
  }
}
